<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupode_produto.nome %>
</p>

<%= link_to 'Edit', edit_grupode_produto_path(@grupode_produto) %> |
<%= link_to 'Back', grupode_produtos_path %>
